/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 30px;
    top: 22px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #815757;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: black;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    min-height: 34px;
    width: 34px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: white;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #815757;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #923d1b;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    text-decoration: none;
    color: #815757;
    padding: 15px 40px;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }