body{
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: #F7F8F7;
    overflow: scroll;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/* MAIN CONTAINER */
#root {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px;
}

/* HOME */
#cold-drinks-title{
    top: 380px;
}

#desserts-title{
    top: 630px;
}

/* PRODUCT CARD */

#product-output{   
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
}

#product-count-section{
    display: grid;
}