
/* Product container */

#drink-image{
    margin-top: 20px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.product-title{
    margin-top: -60px;
    margin-left: 120px;
}


/* Desserts */
#dessert-image{
    margin-top: 20px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

#desserts-title{
    margin-top: -60px;
    margin-left: 100px;
    color:black;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    font-size: x-large;
}

.price-dessert{
    color:grey;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    font-size: large;
    margin-left: 250px;
    margin-top: -33px;
}


/* SHOPPING CART BAR */
#total-price-div{
    background-color: #AC6E6E;
    height: 80px;
    width: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
}

#text-output{
    grid-column: 2;
}

#total-price-output{
    grid-column: 3;
}
