*{
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
}
body{
    font-family: times, serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    background-color: #F7F8F7;
    margin: 0 auto;
    overflow: scroll;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #8f8f8f;
}

/* MAIN CONTAINER */
#root {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px;
    margin: 10x;
}

/* MENU */

#header-container{
    grid-row: 1;
    grid-column: 1 /span 3;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50px;
    width: 100%;
    padding: 2%;
}

/*
#menu-icon{
    height: 50px;
    margin-top: 15px;
    margin-left: 55px;
    grid-column: 1 / span 1;
}*/

#header-title{
    text-align: center;
    grid-column: 2 / span 1;
}

/*
.cart {
    grid-column: 3 / span 1;
    position: absolute;
}
.cart, img{
    height: 50px;
    margin-top: 15px;
    left: 15px;
    text-align: end;
    position: relative;
    left: -25px;
}*/

/* CATEGORIES */
/* front page view*/
.main-page-container{
    grid-row: 3;
}

/* Hot Drinks */
#hot-drinks-container {
    border-radius: 15px;
    width: 385px;
    height: 200px;
    color: white;
    background-color: white;
    padding: 5px;
    margin: 15px;
    background-image: url("./images/varmeDrikker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / span 3;
    grid-row: 2;
    cursor: pointer;
    transition: 0.4s;
}

#hot-drinks-container:hover {
    box-shadow: 10px 10px 80px -20px rgba(0, 0, 0, 0.8);
}

#hot-drinks-title{
    margin-top: 80px;
    color: white;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    font-size: x-large;
}

/* Cold Drinks */

#cold-drinks-container{
    border-radius: 15px;
    width: auto;
    width: 385px;
    height: 200px;
    color: white;
    background-color: white;
    padding: 5px;
    margin: 15px;
    background-image: url("./images/kaldeDrikker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / span 3;
    grid-row: 3;
    cursor: pointer;
    transition: 0.4s;
}

#cold-drinks-container:hover {
    box-shadow: 10px 10px 80px -20px rgba(0, 0, 0, 0.8);
}

#cold-drinks-title{
    margin-top: 80px;
    color: white;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    font-size: x-large;
}

/* Desserts */

#desserts-container{
    border-radius: 15px;
    width: auto;
    width: 385px;
    height: 200px;
    color: white;
    background-color: white;
    padding: 5px;
    margin: 15px;
    background-image: url("./images/desserter.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / span 3;
    grid-row: 4;
    cursor: pointer;
    transition: 0.4s;
}

#desserts-container:hover {
    box-shadow: 10px 10px 80px -20px rgba(0, 0, 0, 0.8);
}

#desserts-title{
    margin-top: 80px;
    color: white;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    font-size: x-large;
}


/* PRODUCT LIST CONTAINER */
.product-list-container{
    grid-row: 4;
    grid-column: 1 /span 3;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}


/* NAVIGATION BAR */
/*#nav-bar-container{
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto auto;
}*/

#front-page-link{
    grid-row: 2;
}

#shopping-cart-link{
    grid-row: 5;
}

#category-menu{
    grid-row: 3;
    background-image: none;
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.menu-category-btn{
    grid-row: 1;
    grid-column: 1;
    background-color: #B37A7A;  
    color: white;
    border-radius: 15px;
}

.menu-category-button{
    border: 1px solid #B37A7A;
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
    width: fit-content;
    color: #B37A7A;
}

#hot-category {
    grid-row: 1;
    grid-column: 1;
    background-color: #B37A7A;  
    color: white;
    border-radius: 15px;
}

#cold-category{
    grid-row: 1;
    grid-column: 2;
}

#desserts-category{
    grid-row: 1;
    grid-column: 3;
}


/* PRODUCT CONTAINER */
.product-container{
    border-radius: 15px;
    width: auto;
    width: 385px;
    height: 200px;
    color: white;
    background-color: white;
    padding: 5px;
    margin: 15px;
    background-image: url("./images/desserter.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* Desserts */
.price-dessert{
    color: white;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    font-size: large;
}

/* TOTAL PRICE */
#total-price-div{
    grid-row: 3;
}


/* MENU CONTAINER BEVERAGE */

.menu-container-beverage{
    border: 1px solid #B37A7A; 
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}