body{
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 280;
    background-color: #F7F8F7;
    overflow: scroll;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@font-face{
    font-family: 'Roboto';
    src: local('Roboto'),url(./fonts/Roboto-Thin.ttf) format('truetype');
}

div{
    font-family: Roboto;
}

/* MAIN CONTAINER */
#root {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    width: 100%;
}



/* PRODUCT CARD */

[type=radio]:checked + img {
    box-shadow: 0 0 0 2pt #815757;
    padding: 3px;
    background-color: #815757;
  }



/* STYLING FOR DESKTOP */
@media only screen and (min-width: 768px){

    #root{
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 10px;
        width: auto;
    }

    .menu-container {
        margin: auto;
        grid-column: 1 /span 3;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    #hot-drink-container{
        margin: auto;
        grid-column: 1;
    }
    .hot-drinks-image{
        border-radius: 15px;
        padding: 5px;
        margin: 10px;
        width: 375px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    #hot-drinks-title{
        width: 300px
    }

    #cold-drink-container{
        margin: auto;
        grid-column: 2;
    }

    .cold-drinks-image{
        max-width: 100%;
        border-radius: 15px;
        padding: 5px;
        margin: 10px;
        width: 375px;
        cursor: pointer;
        transition: 0.4s;
    }

    #dessert-container{
        margin: auto;
        grid-column: 1 /span 2;
    }
    .desserts-image{
        max-width: 100%;
        border-radius: 15px;
        padding: 5px;
        margin: 10px;
        width: 375px;
        cursor: pointer;
        transition: 0.4s;
    }

    .product-list {
        margin: auto;
        grid-column: 1/ span 3;
        grid-row: 2;
        width: 100%;
        grid-template-columns: auto auto auto;
    }

    #test {
        grid-column: 2;
        grid-row: 4 / 6 span;
        display: grid;
        grid-gap: 15px;    
    }

    .image-style {
        max-width: 100%;
        width: 200px;
        margin: auto;
        grid-column: 2 / span 40;
        grid-row: 1 / span 5;
    }

    .add-btn-style {
        display: grid;
        grid-row: 2 / span 6;
        grid-column: 1 /span 6;
        text-align: center;
        box-shadow: 3px 3px 20px -3px rgba(0, 0, 0, 0.5);
        padding: 5px;
    }

    .pay-style {
        background-color: black; 
        color: white; 
        width: 100%; 
        text-align: center; 
        padding: 10px 0px; 
        border-radius: 5px;
        box-shadow: 3px 3px 20px -3px rgba(0, 0, 0, 0.5);
        grid-column: 2 / span 4;
        grid-row: 1 / span 3;
    }

    .pay-vipps-style {
    display: none;
    }




  }
